body {
    max-width: 450px;
    min-width: 360px;

}

.footer {
    width: 100%;
}

.header {
    background-image: url('../images/banner-mobile.jpg');
    height: 638px;
}

.nav {
    display: none;
}

.nav__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    cursor: pointer;
    background-color: #fff;
}

.nav__burger::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.nav__burger::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.main {
    margin: 0;
    width: 360px;
    
    padding: 0;
    padding-top: 580px;
    display: flex;
    flex-direction: column;
}

.navbar__logo {
    display: none;
}

.navbar__logo-mobile {
    margin: auto auto;
    margin-top: 180px;
    width: 269px;

    display: block;
}

.title {
    font-size: 26px;
    line-height: 36px;
    width: 280px;
}

.logo-mobile {
    margin: auto auto;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.card__title {
    margin-top: 5px;
}

.cards {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__time {
    display: inline;
}

.card__author {
    display: inline;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: solid 3px #eeeeee;

}

.card:last-child {
    padding-bottom: 24px;
    margin-bottom: 0;
}

.trends__container {
    display: flex;
    flex-direction: column;
}

.trends {
    max-width: 100%;
}

.trend {
    width: 100%;
    padding: 15px;
    display: flex;
    height: 230px;
    min-height: 230px;
    margin-right: 0;
    margin-bottom: 3px;
    flex-direction: column;

}

.img-picture {
    width: 330px;

    margin-right: 0;
    height: 255px;
}

.products {
    min-width: 330px;
    width: 360px;
    margin: 0;
    padding: 0;
}

.product-description {
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 347px;
    min-height: 267px;
    box-sizing: border-box;
    border: 3px solid rgba(181, 159, 91, 0.5);
    padding: 15px 22px;
    margin-top: -35px;
}

.aside {
    max-width: 360px;

}

.aside__new-posts {
    margin-top: 44px;
    margin-left: 15px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
}

.new-posts__container {
    max-height: 438px;
    margin-top: 30px;
    padding-bottom: 55px;
}

.aside__mailing {
    margin-bottom: 44px;
}

.email-form {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.tegs__container {
    margin-bottom: 44px;
    margin: 0 15px;
    width: 330px;
}

.aside__themes {
    padding-top: 44px;
    margin: 0 15px;
}

.aside-title {
    font-size: 16px;
}

.tegs-list {
    gap: 5px;
}

.search-form-input {
    width: 282px;
}

.products__container {
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 44px;
}

.products__title {
    margin-top: 44px;
    font-size: 16px;
}

.card__time-author {
    margin: 25px 0;
}

.popup_container {
    width: 330px;
}